*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    height: 40%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #007bff;
}

.copyright {
    width: 50%;
    text-align: right;
}

.container .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.social-icons i {
    font-size: 20px;
}